@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@layer base {
  :root {
    --bg-main: #ffffff;
    --bg-sidebar: #fafafa;
    --bg-card: #ffffff;
    --bg-code: #fafafa;

    --border-color: #e5e7eb;
    --border-dark: #222222;

    --text-primary: #121212;
    --text-secondary: #666666;
    --text-muted: #999999;

    --font-poppins: "Poppins", sans-serif;
  }

  * {
    border-radius: 0px !important;
  }
}

@theme {
  --font-poppins: var(--font-poppins);
  --color-bg-main: var(--bg-main);
  --color-bg-sidebar: var(--bg-sidebar);
  --color-bg-card: var(--bg-card);
  --color-bg-code: var(--bg-code);

  --color-border-custom: var(--border-color);
  --color-border-dark: var(--border-dark);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-muted: var(--text-muted);
}

body {
  background-color: var(--bg-main);
  color: var(--text-primary);
  font-family: var(--font-poppins);
  min-height: 100vh;
  overflow-x: hidden;
}

code,
pre {
  font-family: "JetBrains Mono", monospace;
}

/* Custom Scrollbar for Neon aesthetics */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #fafafa;
}

::-webkit-scrollbar-thumb {
  background: #d1d5db;
}

::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}
