@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --bg-main: #ffffff;
    --bg-sidebar: #fafafa;
    --bg-card: #ffffff;
    --bg-code: #fafafa;

    --border-color: #e5e7eb;
    --border-dark: #222222;

    --text-primary: #121212;
    --text-secondary: #666666;
    --text-muted: #999999;

    --font-poppins: "Poppins", sans-serif;
  }

  html.dark {
    --bg-main: #09090b;
    --bg-sidebar: #121215;
    --bg-card: #18181b;
    --bg-code: #121215;

    --border-color: #27272a;
    --border-dark: #3f3f46;

    --text-primary: #f4f4f5;
    --text-secondary: #a1a1aa;
    --text-muted: #71717a;
  }

  * {
    border-radius: 0px !important;
  }
}

@theme {
  --font-poppins: var(--font-poppins);

  /* Theme Brand Colors */
  --color-cyan: #02befb;

  /* Theme Background Colors */
  --color-main: var(--bg-main);
  --color-sidebar: var(--bg-sidebar);
  --color-card: var(--bg-card);
  --color-code: var(--bg-code);

  /* Theme Border Colors */
  --color-line: var(--border-color);
  --color-dark-line: var(--border-dark);

  /* Theme Text Colors */
  --color-txt-main: var(--text-primary);
  --color-txt-secondary: var(--text-secondary);
  --color-txt-muted: var(--text-muted);
}

body {
  background-color: var(--bg-main);
  color: var(--text-primary);
  font-family: var(--font-poppins);
  min-height: 100vh;
  overflow-x: hidden;
}

code,
pre {
  font-family: "JetBrains Mono", monospace;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: var(--bg-sidebar);
}

::-webkit-scrollbar-thumb {
  background: var(--border-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--text-muted);
}
